.navbar {
    background-color: #333;
    color: white;
    padding-inline: 1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color:#ffd900;
    cursor:pointer;
  }
  
  h1{
    cursor:pointer;
    color:#ffd900;
    
  }
  a{
    text-decoration:none;
  }
  .navbar .links a {
    color: #ffd900;
    margin-left: 1rem;
    text-decoration: none;
    cursor:pointer;
  }
  
  .navbar .links a:hover {
    text-decoration: underline;
  }
  