.signup-container {
    margin: 0 auto;
    padding: 2rem;
    background-color: #f9f9f9;
    height:100vh;
    display:flex;
    justify-content:center;
  }
  form{
    width:25rem;
  }
  .signup-row {
    margin-bottom: 15px;
  }
  
  .form-label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
  }
  
  .form-control {
    width: 100%;
    padding: 8px;
    margin-bottom: 5px;
    border: 1px solid #ccc;
    border-radius: 4px;
  }
  
  .form-text {
    color: #6c757d;
    font-size: 0.875em;
  }
  
  .text-danger {
    color: #dc3545;
    font-size: 0.875em;
  }
  
  .btn {
    display: inline-block;
    padding: 10px 20px;
    font-size: 1em;
    font-weight: bold;
    text-align: center;
    color: #ffd900;
    background-color: #333;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  .btn:hover {
    background-color: #111;
  }
  
  
  